

# Usage:
#   call RUBIDIUM_AUTO_PATTERN to run pattern automatically, will tile the patterns next to eachother
#   will run the segments at speeds, for example pattern1: 2.5↔10↔2.5, pattern2 5↔20↔5... etc until done

#
# modification to your print start gcode for this to run properly:
#
# [rubidium print]
# start_gcode:
#     # "batch mode" skip all homing etc
#     {% if 'BATCH' in params %}
#         M140 S{bed_temp}
#         M104 S190
#         CLEAN_NOZZLE
#         M109 S{hotend_temp}
#         M190 S{bed_temp}
# 
#     {% else %}
#         # .... 
#         # regular print start
#     {% endif %}

[rubidium pattern lines_spread_spectrum]
pattern: lines

origin_x:       50
origin_y:       75
layer_height:   0.2

line_length: 30
line_spacing: 3

param_start: 0.01
param_stop:  0.06
param_count: 20

tuning_command:   SET_PRESSURE_ADVANCE
tuning_parameter: ADVANCE

pattern_segments:
    1:1 # will be set from gcmd **only**

[gcode_macro _RUBIDIUM_PATTERN_STEP_NEXT]
variable_settings: {
        'pattern': 'lines_spread_spectrum'
        'print_bounds': {
            'x': {'min': 40,'max': 310},
            'y': {'min': 50,'max': 340},
        },
        'clearance': 4.0,
        'segments': [0.4, 0.2, 0.4],
        'speeds':   [2.5, 5, 10, 20, 50, 100, 150, 200, 250],
    }

[gcode_macro RUBIDIUM_AUTO_PATTERN]
variable_cache: {}
gcode:
    {% set SELF     = "RUBIDIUM_AUTO_PATTERN"       %}
    {% set PARENT   = "_RUBIDIUM_PATTERN_STEP_NEXT" %}

    {% set print_end, scan_end = params.pop('PRINT_END', False), params.pop('SCAN_END', False) %}

    {% macro main() %}
        {% if not print_end and not scan_end and not cache.running %}
            {% set _ = cache.update({'running': True}) %}
            { msg("starting automatic template printing and analysis.") }
            _RUBIDIUM_PATTERN_STEP_NEXT {params|xmlattr}

        {% elif not print_end and not scan_end and cache.running %}
            { err("already running, scheduled stop.") }
            {% set _ = cache.update({'running': False}) %}

        {% elif print_end and cache.running %}
            {% set _ = cache.update({'action': ['RUBIDIUM_SCAN PATTERN=' ~ printer['gcode_macro ' ~ PARENT].cache.pattern] }) %}
            UPDATE_DELAYED_GCODE ID=_RUBIDIUM_MULTI_PATTERN_DELAYED_ACTION DURATION=5

        {% elif scan_end and cache.running %}
            {% set _ = cache.update({'action': ['RUBIDIUM_ANALYSE', '_RUBIDIUM_PATTERN_STEP_NEXT']}) %}
            UPDATE_DELAYED_GCODE ID=_RUBIDIUM_MULTI_PATTERN_WAIT_DONE DURATION=0.1
            
        {% endif %}
    {% endmacro %}

    {% macro msg(s, prefix_color="--v-accent-base, orange", msg_color="--p-text-color2, grey") %}
        {% set desc = printer.configfile.settings['gcode_macro ' ~ SELF|lower].description|trim|trim('"')|trim("'") %}
        {% set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">" ~ SELF ~ " </span>" %}
        { action_respond_info(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") }
    {% endmacro %}
    {% macro err(s) %}{ msg(s, prefix_color="--v-error-base, red", msg_color="--v-warning-base, orange") }{% endmacro %}

    # just remove, not needed but just in case
    {% set _ = cache.pop('action', None) %}
    { main() }
    SET_GCODE_VARIABLE MACRO={SELF} VARIABLE=cache VALUE="{cache}"

[delayed_gcode _RUBIDIUM_MULTI_PATTERN_DELAYED_ACTION]
gcode:
    {% for cmd in printer['gcode_macro RUBIDIUM_AUTO_PATTERN'].cache.action or [] %}
        { cmd }
    {% endfor %}


[delayed_gcode _RUBIDIUM_MULTI_PATTERN_WAIT_DONE]
gcode:
    {% set ap   = printer['gcode_macro RUBIDIUM_AUTO_PATTERN'].cache %}
    {% if ap.running and ap.action %}
        {% set scan   = printer['rubidium scan'] %}
        {% set st     = scan.state %}
        {% set prog   = scan.progress %}
        {% set vstate = scan.video.state %}

        {% if vstate and st == 'done' and prog >= 1.0 and vstate == 'done' %}
            UPDATE_DELAYED_GCODE ID=_RUBIDIUM_MULTI_PATTERN_WAIT_DONE DURATION=0
            UPDATE_DELAYED_GCODE ID=_RUBIDIUM_MULTI_PATTERN_DELAYED_ACTION DURATION=0.5
        {% else %}
            UPDATE_DELAYED_GCODE ID=_RUBIDIUM_MULTI_PATTERN_WAIT_DONE DURATION=0.1
        {% endif %}
    {% endif %}


[gcode_macro _RUBIDIUM_PATTERN_STEP_NEXT]
description: [PATTERN=pattern_name]
variable_cache: {}
gcode:
    {% set SELF     = "_RUBIDIUM_PATTERN_STEP_NEXT" %}

    {% set s        = settings %}
    {% set rubidium = printer.rubidium %}

    {% set _        = cache.setdefault('pattern', params.pop('PATTERN', cache.pattern or s.pattern or 'lines_spread_spectrum')) %}
    {% set _        = cache.setdefault('patterns_printed', 0) %} # bogos binted? 👽

    {% set _        = action_raise_error("Unknown pattern: '" ~ cache.pattern ~ "'") if cache.pattern not in rubidium.patterns %}

    {% macro main() %}
        {% set printed      = cache.patterns_printed %}
        {% set next         = (get_next_step(allow_step='xy') ~ ' BATCH=1') if printed else '' %}
        {% set next_pattern = _pattern_segments_param(printed) %}
        {% if (next or not printed) and next_pattern %}
            {% set _dirname = 'batch_' ~ printed ~ '_' ~ cache.pattern %}
            RUBIDIUM_PRINT PATTERN={cache.pattern} {next} {next_pattern} DIRNAME={_dirname} {params|xmlattr}
            {% set _ = cache.update({'patterns_printed': printed + 1}) %}
        {% else %}
            { action_respond_info('unable to fit next pattern within allowed build are and/or reached pattern limit') }
        {% endif %}
    {% endmacro %}

    {%- macro _pattern_segments_param(cur_idx) -%}
        {%- set segs, vels  = s.segments, s.speeds -%}
        {%- if cur_idx < vels|length - 2 -%}
            {%- set low, high   = vels[cur_idx], vels[cur_idx + 2] -%}
            { ' pattern_segments="' ~ high ~ ':' ~ segs[0] ~ ',' ~ low ~ ':' ~ segs[1] ~ ',' ~ high ~ ':' ~ segs[2] ~ '"' }
        {%- endif -%}
    {%- endmacro -%}

    {%- macro get_next_step(allow_step='') -%}
        {%- set _params = [] -%}
        {%- set directions = [
            ('x',  1),
            ('x', -1),
            ('y',  1),
            ('y', -1)
        ] -%}
        {%- for ax, dir in directions if ax in allow_step and not _params -%}
            {%- set _new = _next_tile_param(
                step_x=(0 if ax == 'y' else dir),
                step_y=(0 if ax == 'x' else dir),
                clearance=s.clearance
            ) -%}
            {%- set _ = _params.append(_new) if _new -%}
        {%- endfor -%}
        { _params|join }
    {%- endmacro -%}

    {%- macro _out_of_bounds(point, clearance=0.0) -%}
        {%- for ax in ['x', 'y'] if ax in point -%}
            {%- set min_x   = s.print_bounds[ax]['min'] + clearance -%}
            {%- set max_x   = s.print_bounds[ax]['max'] - clearance -%}
            {- ax if point[ax] < min_x or point[ax] > max_x else '' -}
        {%- endfor -%}
    {%- endmacro -%}

    {%- macro _next_tile_param(step_x=0, step_y=0, clearance=0.0) -%}
        {%- set _pattern    = printer['rubidium pattern ' ~ cache.pattern] -%}
        {%- set outline     = _pattern.lines.outline_xy -%}
        {%- set xs, ys      = [], [] -%}
        {%- for pt_x, pt_y in outline -%}
            {%- set _, _ = xs.append(pt_x), ys.append(pt_y) -%}
        {%- endfor -%}
        {%- for ax, vals, step in [('x', xs, step_x), ('y', ys, step_y)] if step -%}
            {%- set _min, _max  = vals|min, vals|max -%}
            {%- set size        = _max - _min -%}
            {%- set origin_new  = _pattern.settings['origin_' ~ ax] + step * (size + clearance) -%}
            {%- if not _out_of_bounds({ax: origin_new}, clearance)
                and not _out_of_bounds({ax: origin_new + size}, clearance) -%}
                { (' ' if not loop.first else '') ~ 'origin_' ~ ax ~ '=' ~ origin_new}
            {%- endif -%}
        {%- endfor -%}
    {%- endmacro -%}

    { main() }
    SET_GCODE_VARIABLE MACRO={SELF} VARIABLE=cache VALUE="{cache}"



