[rubidium]
travel_speed: 500 # (mm/s) default move speed for general (travel) moves

[rubidium scan]
scan_speed: 200 # (mm/s)
offset_x: 0.0
offset_y: 0.0
offset_z: 10.9
video_source: http://127.0.0.1:8081/?action=stream # or device path ig
#video_args: # optional extra args to add

start_gcode:
    LASER_ON
end_gcode:
    LASER_OFF
    _MOVE_BACK_END_PAUSE_CANCEL
before_line_gcode:
    SET_VELOCITY_LIMIT ACCEL=2000
after_line_gcode:
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}

# [rubidium analysis]
# crop_center: 1788, 1443
# crop_size:   90,   120
# base_resolution: # resolution is auto determined or overwritten here

[rubidium print]
print_speed: 50 # For brim
speeds:
    fast:           250,
    medium_fast:    175,
    medium:         125,
    medium_slow:    80,
    slow:           25,
    slow_scv:       10,
    scv:            5

start_gcode:
    {% set bed_temp    = params.BED|default(65) %} # TODO figure out how to best hand in/describe defaults for this
    {% set hotend_temp = params.HOTEND|default(235) %} # nevermind perhaps this is sufficient

    M104 S160
    M140 S{bed_temp}
    G28
    M190 S{bed_temp}
    M104 S220
    CLEAN_NOZZLE
    M104 S160
    G32
    M109 S{hotend_temp}
    AUTO_PURGE T{printer.toolchanger.tool_number}_TEMP={hotend_temp}

end_gcode:
    TURN_OFF_HEATERS
    _MOVE_BACK_END_PAUSE_CANCEL

before_line_gcode:
    {% set fast = rubidium.travel_speed * 60.0 %}
    G0 Z{ rubidium.line.start.z + 0.1 } F{ fast }
    G0 X{ rubidium.line.start.x } Y{ rubidium.line.start.y } F{ fast }
    G0 Z{ rubidium.line.start.z } F{ fast }
    G1 E{ 0.5 } F{ 3600 }
    SET_VELOCITY_LIMIT ACCEL=3000
# 
after_line_gcode:
    G1 E{ -0.5 } F{ 3600 }
    G0 Z{ rubidium.line.start.z + 0.1 } F{ rubidium.travel_speed * 60.0 }
    SET_VELOCITY_LIMIT ACCEL={ printer.configfile.settings.printer.max_accel }


# default pattern things ----------------------------------------------------------------
# you can also add them ass [rubidium pattern]
param_start:      0.0
param_stop:       0.1
param_count:      10

tuning_command:   SET_PRESSURE_ADVANCE
tuning_parameter: ADVANCE

origin_x:         175 # if unset will be computed as bed center (x/y)
origin_y:         200
# optional → origin_z: starting z height (default 0) 
layer_height:     0.2 # default = (nozzle size * (line width / 100)) / 2

# line_width: (in mm) ← alternatively
line_width_pct:   120 # (%)
line_length:      40  # (mm)
line_spacing:     3   # (mm) line ↔ line
pattern: lines
pattern_segments:
     slow_scv: 0.25,
     medium:   0.5,
     slow_scv: 0.25


